/* @import url('https://fonts.googleapis.com/css?family=Poppins:800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat:700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Caveat:700|Poppins:800|Karla:400,700|Roboto+Mono:700&display=swap'); */

:root{
    --lightGray: #f9f9f9;
    --darkGray: #333;
    --green:#338f43;
    --yellow:#f9cc14;
    --blue:#0500ff;
    --purple:#771fe8;
    --mainBg:#f9f3e5;
    --pink: #f520a0;
    --black: #000;
    --white: #fff;
    --primary:#00ffc5;
    --fontSizeBody: 18px;
    --fontSizeTitle: 36px;
    --fontSizeSubTitle: 24px;
    --fontSizeBtn: 16px;
    --xxlarge: 48px;
    --xxxlarge: 84px;
    --awesomePad: 0.2rem;
}
h1 {
    /* font-size: var(--fontSizeTitle); */
    font-size: 2.5rem;
    font-size: 13vw;
}
h2 {
    
    /* font-size: var(--fontSizeSubTitle); */
    font-size: 2rem;
    font-size: 10vw;
    padding-bottom: 2rem;
}
h1, h2 {
    font-family: 'Poppins',  sans-serif; 
    font-weight: 800;
    position: relative;
}
body {
    font-size: var(--fontSizeBody);
    color: var(--white);
    font-family: 'Karla', sans-serif;
    line-height: 1.3;
    padding-top: 4.375rem; 
    font-size: 5.5vw;

    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-tap-highlight-color: #ccc;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

}

code#pyCode {
    font-family: 'Roboto Mono', monospace;
    color: var(--blue)
}
blockquote{
    font-family: 'Caveat', serif;
    font-size: 2rem;
    font-weight: 100;
    font-style: italic;    
}

section {
    height: calc(100vh - 4.375rem);
    background-color: var(--mainBg);
    color:var(--white);
    padding: 2rem 1.5rem;
    position:relative;
    display: grid;
    align-content: start;    
}
cite {
    background-color: var(--blue);
    font-weight: 800;
}
header{
    position: fixed;
    z-index: 1000;
    width: 100vw;
    background-color: var(--mainBg);
    top:0;
}
.header{
    width: 100%;
    /* height: 100%; */
    color: var(--black);
    display: grid;
    grid-auto-flow: column;
    padding: 1rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--black);
}
footer{
    background-color: var(--black);
    padding: 24px;
    padding: 1.5rem;
    display: -ms-grid;
    display: grid;
    grid-gap: 16px;

}
footer #socials {
    display: grid;
    grid-auto-flow: column;
    color: var(--white);
    grid-gap: 10px;

}
footer #socials img {
    width: 1.2rem;
}

#frame {
    position: fixed;
    top: 0;
    bottom: 0;
    left:0px;
    right:0px;
    border:2px solid var(--black);
    z-index: 100;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left:0px;
    right:0px;
    background-color: var(--black);
    opacity: 0.4;    
}
section .wide-image {
    width: 100%;
    max-height: 30vh;
    max-height: 40vh;
    border: 2px solid var(--black);
}
section#wow {
    background-color: var(--black);
    background-size: cover;
    background-repeat: no-repeat; 
    display: grid;   
}
#kidImage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    transform: translateZ(0);
}
#kidImage.tinyImage {
    filter: blur(10px);
    background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wgARCAAQAAwDASIAAhEBAxEB/8QAFgABAQEAAAAAAAAAAAAAAAAABQEG/8QAFAEBAAAAAAAAAAAAAAAAAAAAAf/aAAwDAQACEAMQAAABx60MH//EABoQAQEAAgMAAAAAAAAAAAAAAAIDAQQREyH/2gAIAQEAAQUCIyVaq7dKU7Dn3//EABURAQEAAAAAAAAAAAAAAAAAAABB/9oACAEDAQE/AY//xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oACAECAQE/AX//xAAeEAACAQMFAAAAAAAAAAAAAAABEQACElEhIjEyQf/aAAgBAQAGPwKlgj3iF1vChuO7L6w6z//EABoQAAIDAQEAAAAAAAAAAAAAAAERACFRYTH/2gAIAQEAAT8hPXlhxsMoQ4BZAGXBrSUAWRTn/9oADAMBAAIAAwAAABBz/8QAFxEBAAMAAAAAAAAAAAAAAAAAAQARYf/aAAgBAwEBPxCg1P/EABYRAAMAAAAAAAAAAAAAAAAAAAABMf/aAAgBAgEBPxCs/8QAGxABAAMBAAMAAAAAAAAAAAAAAQARITFBYYH/2gAIAQEAAT8QftKjpTgHtwNKqMgdgDMtH3ctn4Xiw03fHzlRNpU0W6y7n//Z");
}
#kidImage.loaded {
    /* filter: blur(0px); */
    background-image: url("https://s3-ap-southeast-1.amazonaws.com/assets.kidocode.com/moments/kid.jpg");
    animation: image_blur 2s both;
}
@-webkit-keyframes image_blur {
    0% { 
        filter: blur(10px);
        -webkit-filter: blur(10px);
    }
    100% { 
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }    
}


#play {
    font-size: 5rem;
    position: absolute;
    justify-self: center;
    align-self: center;
}
#play2 {
    font-size: 3rem;
}
section#story {
    background-color: var(--green);  
}
section#python {
    background-color: var(--yellow);
    color: var(--black);
}
section#pythonTasks {
    background-color: var(--darkGray);
    padding: 0;
    grid-auto-flow: column;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
.taskSwipe {
    text-align: center;
    padding: 0.8rem;
    grid-column: 1/3;
}
.taskCaption{
    text-align: center;
    padding: 0.5rem;
    border: 2px solid var(--black);
    border-bottom: none;
    grid-column: 1/3;
}
.taskImage {
    width: 100%;
    border: 2px solid #000;
    background-color: #222;
    background-image: url(https://kbotz.s3-ap-southeast-1.amazonaws.com/ksales/reports/trial/img.png),linear-gradient(rgba(255,255,255,.04) 1px, transparent 2px), linear-gradient(90deg, rgba(255,255,255,.04) 1px, transparent 2px), linear-gradient(rgba(255,255,255,.05) 1px, transparent 1px), linear-gradient(90deg, rgba(255,255,255,.05) 1px, transparent 1px);
    background-size: 100%, 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: 0 0, 0 39px, 39px -2px, -1px -1px, -1px -1px;
    grid-column: 1/3;
    grid-row: 2/3;
    border-bottom: none;
    z-index: 2;
    background-repeat: no-repeat, repeat, repeat, repeat, repeat, repeat;
    height: calc(100vh - 16rem);
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    pointer-events: auto;
}
.task pre {
    pointer-events: none;
    grid-column: 1/3;
    grid-row: 2/3;
    padding: 1rem;
    color: var(--white);
    z-index: 1;
    background-color: #222;
    border: 2px solid var(--black);
    border-bottom: none;
    font-size: 0.8rem;
    line-height: 1.5;
    height: calc(100vh - 16rem);
    overflow: hidden;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
}
.task pre.on-touch {
    pointer-events: auto;
    overflow: auto;
}
.task pre code {
    font-family: 'Roboto Mono', monospace;
}
.task {
    width: 100vw;
    height: 100%;
    padding: 2rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;    
    grid-template-rows: repeat(4, min-content);
    -webkit-transform: translate3d(0,0,0);
}
section#mobile {
    background-color: var(--blue);
}
section#electronics {
    background-color: var(--purple);
}
section#community {
    background-color: var(--green);
    color: var(--white);
    /* background:  
    repeating-linear-gradient(90deg,#338f43e6,#338f43e6 10px,var(--green) 10px,var(--green) 20px),repeating-linear-gradient(0deg,#111,#111 10px,var(--green) 10px,var(--green) 20px) */
}
section#problem {
    background-color: var(--black);
    /* background:  repeating-linear-gradient(   90deg,   #111,   #111 10px,   #000 10px,   #000 20px ) */
}
section#quote {
    color: var(--black);
    
}
section#willu {
    background-color: var(--pink);
}
#iknowcoding {
    ackground-color: var(--black);
    background-image: url(https://s3-ap-southeast-1.amazonaws.com/assets.kidocode.com/moments/ikc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    background-position: center;
    height: 30vh;
    justify-content: center;
    align-content: center;      
}
section#join {
    background-color: var(--green);
    display: grid;
    align-content: space-between;    
    
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%235aba6b' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
}
.highlight {
    background-color: var(--blue);
    color: var(--white);
}
.awesomez,
.awesome {
    color: var(--white);
    line-height: 1;
    display: inline-block;
}
.awesomez {
    font-size: var(--xxxlarge);
    padding-top: var(--awesomePad);
}
.awesome {
    font-size: var(--xxlarge);
    padding-bottom: var(--awesomePad);
}

.button {
    text-align: center;
    display: inline-block;
    background-color: var(--white);
    color: var(--black);
    font-weight: 700;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border:2px solid var(--black);
    font-size: 1rem;
}
.button.big {
    padding: 1rem;
}
.button:active,
.button:hover,
.button:visited,
.button:focus
 {
    text-decoration: none;
}
.button.selected {
    color: #bababa;
    box-shadow: 2px 0 0px #bababa inset, 0px 2px 0px #bababa inset, -2px 0 0px #bababa inset, 0px -2px 0px #bababa inset;
}
.button.stacked {
    margin-bottom: 1.5rem;
}
.button.block {
    width: 100%;
}
.button.primary {
    background-color: var(--primary);
}
.button.secondary {
    background-color: var(--lightGray);
}